<h1>My Sessions</h1>

<%= link_to "Add a Session", new_game_session_path %><br><br>

<% @game_sessions.each do |sess| %>
    <h4><%= link_to "#{sess.game.name} - #{sess.format_date}", game_game_session_path(sess.game, sess) %></h4>
    <ul>
    <% sess.players.each do |player| %>
        <li>
            <%= player.name == "Current User" ? "Me" : player.name %>
            <% if sess.winner.include?(player) %>
                - WINNER!
            <% end %>
        </li>
    <% end %>
    </ul>
<% end %>